<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shayya Realty Inc.</title>
    <link rel="website icon" type="png" href="/images/logoo.PNG" />
    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            
            if (<%= isLogged %>) {
                document.getElementById("admin").style.display = 'block';
            }
            else {
            
            document.getElementById("admin").style.display = 'none';
        }
            var forms = document.getElementsByClassName('deleteform');
            for (var i = 0; i < forms.length; i++) {
                if (forms[i].id != "<%= ID %>")
                    forms[i].style.display = 'none';
            }
        
        });


    </script>
</head>

<body>
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>

        <div class="overlay" data-overlay></div>

        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:omarshayya132@gmail.com" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>omarshayya132@gmail.com</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>mainroad, Sawfar, Aley</address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="https://www.facebook.com/omar.shayya.10?mibextid=ZbWKwL"
                                class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a>
                        </li>

                    </ul>

                    <button class="header-top-btn">Add Listing</button>
                </div>

            </div>
        </div>

        <div class="header-bottom">
            <div class="container">

                <a href="#" class="logo">
                    <img src="/logoo.PNG" alt="Homeverse logo">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="#" class="logo">
                            <img src="/logoo.PNG" alt="Homeverse logo">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="http://localhost:3005/#" class="navbar-link" data-nav-link>Home</a>
                            </li>

                            <li>
                                <a href="#about" class="navbar-link" data-nav-link>About</a>
                            </li>

                            <li>
                                <a href="#service" class="navbar-link" data-nav-link>Service</a>
                            </li>

                            <li>
                                <a href="#property" class="navbar-link" data-nav-link>Property</a>
                            </li>

                            <li>
                                <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                            </li>

                            <li>
                                <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
                            </li>

                        </ul>
                    </div>

                </nav>

                <div class="header-bottom-actions">
                    <input type="text" class="searchinput" placeholder="Search...">
                    <button class="header-bottom-actions-btn searchbutton" aria-label="Search">
                        

                        <span>Search</span>
                    </button>

                    <form action="">
                        <button class="header-bottom-actions-btn searchbutton2" aria-label="Search">
                           

                            <span>Search</span>
                        </button>
                    </form>

                    <!-- <form action="login" class="profile-form" method="get">
                        <button class="header-bottom-actions-btn" aria-label="Profile">
                            <ion-icon name="person-outline"></ion-icon>

                            <span>Profile</span>
                        </button>
                    </form> -->


                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                       

                        <span>Menu</span>
                    </button>

                </div>

            </div>
        </div>

    </header>

    <main>



        <section class="property" id="property">
            <div class="container">

                <p class="section-subtitle">Properties</p>
                <div style="display: flex; justify-content: space-between;">
                <form action="viewmine" method="get">
                    <button><h2 style="color: aliceblue;">my houses</h2></button>
                </form>
                <form action="view" method="get">
                    <button><h2 style="color: aliceblue;">cancel</h2></button>
                </form>
            </div>
                <h2 class="h2 section-title">Featured Listings</h2>

                <ul class="property-list has-scrollbar">
                    <%items.forEach(lands=> { %>
                        <li id="card">
                            <div class="property-card">

                                <figure class="card-banner">

                                    <a href="#">
                                        <img src="data:image/<%=lands.image.contentType%>;base64,<%=lands.image.data.toString('base64')%>"
                                            alt="New Apartment Nice View" class="w-100">
                                    </a>

                                    <div class="card-badge green">
                                        <%=lands.Type%>
                                    </div>

                                    <div class="banner-actions">

                                       

                                      

                                    </div>

                                </figure>

                                <div class="card-content">

                                    <div class="card-price">
                                        <strong>
                                            <%= lands.Price%>
                                        </strong>/Month
                                    </div>

                                    <h3 class="h3 card-title">
                                        <a href="#">
                                            <%=lands.Title%>
                                        </a>
                                    </h3>

                                    <p class="card-text">
                                        <%=lands.Description%>
                                    </p>

                                    <ul class="card-list">

                                        <li class="card-item">
                                            <strong>
                                                <%=lands.Bedrooms%>
                                            </strong>

                                            <ion-icon name="bed-outline"></ion-icon>

                                            <span>Bedrooms</span>
                                        </li>

                                        <li class="card-item">
                                            <strong>
                                                <%=lands.Bathrooms%>
                                            </strong>

                                            <ion-icon name="man-outline"></ion-icon>

                                            <span>Bathrooms</span>
                                        </li>

                                        <li class="card-item">
                                            <strong>
                                                <%=lands.SquareFt%>
                                            </strong>

                                            <ion-icon name="square-outline"></ion-icon>

                                            <span>Square Ft</span>
                                        </li>

                                    </ul>

                                </div>

                                <div class="card-footer">

                                    <div class="card-author">

                                        <form class="deleteform" action="deletecard/<%=lands._id%>" method="post" id="<%= lands.ownerid %>">
                                            <button style="color:aliceblue; border-radius: 25px; padding: 10px 20px; background-color: rgb(31, 40, 51)">
                                                Delete
                                            </button>
                                        </form>



                                    </div>

                                    <div class="card-footer-actions">

                                        <button class="card-footer-actions-btn">
                                            <ion-icon name="resize-outline"></ion-icon>
                                        </button>

                                        <button class="card-footer-actions-btn">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </button>
                                        
                                    </div>

                                </div>

                            </div>
                        </li>
                        <%}) %>






                </ul>

            </div>
        </section>




        <a id="admin" href="/insert" style="color: aliceblue; margin-left: 40%;">
            <h1 id="tester">Add Your Property</h1>
        </a>


    </main>







    <!-- 
- #FOOTER
-->

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        <img src="/Capture-removebg-preview.png" alt="Homeverse logo" width="100%">
                    </a>

                    <p class="section-text">
                        Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of
                        the printing.
                    </p>

                    <ul class="contact-list">

                        <li>
                            <a href="#" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <address>Brooklyn, New York, United States</address>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+961-81453643</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:omarshayya132@gmail.com" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>omarshayya132@gmail.com</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Company</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">About</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Blog</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">All Products</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Locations Map</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">FAQ</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Contact us</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Services</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Order tracking</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Wish List</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Login</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">My account</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Terms & Conditions</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Promotional Offers</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Customer Care</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Login</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">My account</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Wish List</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Order tracking</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">FAQ</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Contact us</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; All Rights Reserved
                </p>

            </div>
        </div>

    </footer>
</body>

</html>